<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tak3r07.unihelper">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.tak3r07.CourseStatistics.CourseStatistics">
        <activity
            android:name="com.tak3r07.CourseStatistics.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tak3r07.CourseStatistics.AssignmentsActivity"
            android:label="@string/title_activity_course"
            android:parentActivityName="com.tak3r07.CourseStatistics.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tak3r07.CourseStatistics.MainActivity" />
        </activity>

        <activity
            android:name="com.tak3r07.CourseStatistics.EditCourseActivity"
            android:label="@string/title_activity_edit_course"
            android:parentActivityName="com.tak3r07.CourseStatistics.AssignmentsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tak3r07.CourseStatistics.AssignmentsActivity" />
        </activity>
    </application>

</manifest>
